@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Rubik-VariableFont_wght.ttf) format('woff');
}
body {
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
  font-family: Rubik;
  font-weight: 600;
  max-width: 100%;
}

header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sign {
  color: black;
  margin-left: auto;
}
.head {
  cursor: pointer;
}
a {
  text-decoration: none ;
}
.btn {
  width: 190px;
  height: 85px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: Rubik;
  font-weight: 600;
  font-size: 20px;
  color: #B5B7BB;
  background-color: #D4D6DA;
  
}

.back {
  margin-right: auto;
  color: #fff;
  background-color: #FE23BB;
}
.next {
  margin-left: auto;
}


.road {
  margin-left: 70px;
  margin-right: 70px;
}
.section_1 {
  margin-top: 90px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1600px) {  
 .btn {
    height: 70px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-family: Rubik;
    font-weight: 600;
    font-size: 18px;
  }

}


.flex {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 150px;
  text-align: left;
  align-items: center;
}


.line {
  height: 170px;
  border: solid 1.8px #E3E6E5;
  margin-right: 40px;
  margin-left: 40px;
}
.status {
  color: #67717D;
  font-size: 20px;
  font-weight: 400;
  
}

.status_test {
  font-weight: 800;
  font-size: 52px;
}
.percent {
  font-weight: 800;
  font-size: 64px;
  color: black;
}
.count_test-text{
  color: #003BFF;
  font-size: 20px;
  font-weight: 400;
}
.button{
 
  width: 250px;
  height: 85px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: Rubik;
  font-weight: 600;
  font-size: 20px;
  color: #B5B7BB;
  background-color: #D4D6DA;

}
.buttons {
  margin-left: auto;
}
.start {
  background-color: #2CC19A;
  color: #fff;
  margin-left: 15px;
}
.inactive {  
  pointer-events: none;  
  opacity: 0.5;  
}  
.active {  
  cursor: pointer;  
}  
